  <mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
       1. <h4>मुक्ति का स्वरुप और लक्षण    </h4> 
   </mat-expansion-panel-header>
<pre>
1.व्यास जी के पिता जो बादरि आचार्य थे, उनका मुक्तिविषय में ऐसा मत है---जब जीव मुक्त दशा को प्राप्त होता है तब वह शुद्ध मन से परमेश्वर के साथ परमानंद मोक्ष में रहता है और इन दोनों से भिन्न इंद्रियादि पदार्थों का अभाव हो जाता है।  

2.इसी विषय मे व्यास जी के मुख्य शिष्य जो जैमिनी थे, उनका ऐसा मत है कि- जैसे मोक्ष में मन रहता है, वैसे ही शुद्धसंकल्पमय शरीर तथा प्राणादि और इन्द्रियों की शुद्ध शक्ति भी बराबर बनी रहती है। क्योंकि उपनिषद में - ' स एकधा भवति, द्विधा भवति, त्रिधा भवति' इत्यादि वचनों का प्रमाण है कि मुक्त जीव संकल्पमात्र से ही दिव्य शरीर रच लेता है और इच्छामात्र ही से शीघ्र छोड़ देता है और शुद्ध ज्ञान का सदा प्रकाश बना रहता है। 

3.इसी मुक्तिविषय में बादरायण जो व्यास जी थे, उनका ऐसा मत है कि-- मुक्ति में भाव और अभाव दोनों ही बने रहते हैं अर्थात क्लेश, अज्ञान और अशुद्धि आदि दोषों का सर्वथा अभाव हो जाता है और परमानंद ज्ञान, शुद्धता आदि सब सत्यगुणों का भाव बना रहता है। इसमें दृष्टांत भी दिया है कि जैसे वानप्रस्थ आश्रम में बारह दिन का प्रजापत्यादि व्रत करना होता है, उसमें थोड़ा भोजन करने से क्षुधा का थोड़ा अभाव और पूर्ण भोजन न करने से क्षुधा का कुछ भाव भी बना रहता है। इसी प्रकार मोक्ष में भी पूर्वोक्त रीति से भाव और अभाव समझ लेना। इत्यादि निरूपण मुक्ति का वेदांत शास्त्र में किया है।

----स्वामी दयानंद सरस्वती ( ऋग्वेदादिभाष्यभूमिका - मुक्तिविषयः)
</pre>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
    2.<h3><b> वेदभाष्य करने का सामर्थ्य</b></h3>
    </mat-expansion-panel-header>

  <pre>  
वेदों के अर्थ को यथावत् विना विचारे उनके अर्थ में किसी मनुष्य को हठ से साहस करना उचित नही, क्योकि जो वेद सब विद्याओं से युक्त हैं , अर्थात उनमें जितने मंत्र और पद हैं, वे सब सम्पूर्ण सत्यविद्याओं के प्रकाश करने वाले हैं। और ईश्वर ने वेदों का व्याख्यान भी वेदों से ही कर रखा है, क्योकि उनके शब्द धात्वर्थ के साथ योग रखते हैं।इसमें निरुक्त का भी प्रमाण है , जैसा कि यास्कमुनि ने कहा---(तत्प्रकृतीत•) इत्यादि।  

वेदों के व्याख्यान करने के विषय मे ऐसा समझना कि जब तक सत्य प्रमाण , सुतर्क, वेदों के शब्दों का पूर्वापर प्रकरणों , व्याकरण आदि वेदांगों, शतपथ आदि ब्राह्मणों , पूर्व मीमांसा आदि शास्त्रों और शास्त्रांतरों का यथावत बोध न हो, और परमेश्वर का अनुग्रह, उत्तम विद्वानों की शिक्षा , उनके संग से पक्षपात छोड़ के आत्मा की शुद्धि न हो , तथा महर्षि लोगों के किये व्याख्यानों को न देखें, तबतक वेदों के अर्थ का यथावत् प्रकाश मनुष्य के हृदय में नही होता। इसलिए सब आर्य विद्वानों का सिद्धांत है कि प्रत्यक्षादि प्रमाणों से युक्त जो तर्क है, वही मनुष्यों के लिए ऋषि है। 

इससे यह सिद्ध होता है कि जो सायणाचार्य और महीधरादि अल्पबुद्धि लोगों के झूठे व्याख्यानों को देख के आजकल आर्यावर्त और यूरोपदेश के निवासी लोग जो वेदों के ऊपर अपनी-अपनी देश भाषाओं में व्याख्यान करते हैं, वे ठीक-ठीक नही हैं, और उन अनर्थयुक्त व्याख्यानों के मानने से मनुष्य को अत्यंत दुःख प्राप्त होता है।इससे बुद्धिमानों को उन व्याख्यानों का प्रमाण करना योग्य नहीं।' तर्क' जिसका नाम ऋषि होने से सब आर्य लोगों का सिद्धांत है कि सब कालो में अग्नि जो परमेश्वर है, वही उपासना करने के योग्य हैं। 

----स्वामी दयानन्द सरस्वती (ऋग्वेदादिभाष्यभूमिका - वेदविचारविषयः )

</pre>
  </mat-expansion-panel>

</mat-accordion>