/* You can add global styles to this file, and also import other style files */



.bootsrap-image-loader{
	position: absolute;
    left: 40%;
    top: 40%;
    width: 90px;
}


.deactivate-mobile-view{
    display:block;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

@media (max-width: 650px) {
    .deactivate-mobile-view{
        display:none;
      }
}